




<div class="jumbotron center">
    <h1>Welcome to my app!</h1>
    <h1>Sylvester Pins Project</h1>
<p>Welcome to My Rails Project.</p>

    <% if user_signed_in? %>
          # do something
    <% else %>
      <p>
        <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
      </p>
      
      <%= image_tag("lobster.jpg", :alt => "cars") %>
  <% end %>  
</div>


</div>
